extends ../layouts/common
block title 
    title Create Page
block content
    h1 Create page
    form(action='/users/create', method='POST')
        lable Name 
        input(type="text", name ='name') 
        br
        br
        lable Phone 
        input(type="text", name = 'phone')
        br
        br
        button Create

    br
    a(href='/users') Back
