extends ../layouts/common
block title 
    title Infor Page
block content
    h1 Infor User 
    p 
        span Name: 
        span= user.name
        br
        span Phone: 
        span= user.phone 
    br
    a(href = '/users') Back
        
        