extends ../layouts/common
block title 
    title Infor Page
block content
    .container.mt-4
        table.table 
            tr 
                th Name 
                th Phone 
                th ID 
            tr 
                td= user.name 
                td= user.phone
                td= user.id