extends ../layouts/common
block title 
    title Users Page
block content
    h1 This is users page
    form(action='/users/search', method= 'GET')
        input(type='text', name = 'q')
        button Search
    ul 
        each user in users 
            li
                span= user.name 
                span &nbsp;
                a(href= '/users/' + user.id) Infor
        else 
            p There are no matching users

    div
        a(href='/') Home
        span &nbsp;
        a(href='/users/create') Create
